@import "../variables.module.scss";
.gallery__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 1rem;
}
.gallery__grid {
  width: 320px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: 768px) {
    width: 700px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  @media (min-width: 1024px) {
    width: 1000px;
    grid-template-columns: repeat(3, 1fr);
  }
}
.image__container {
  background-color: $primary-gray-color;
  width: 250px;
  height: 250px;
  padding: 0.8rem;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    box-shadow: $secondary-orange-color 0px 3px 8px;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}
